@media (min-width: 1240px) {
    :root {
        --grid_cols: repeat(10, 1fr);
        --grid_rows: repeat(10, 10%);
        --today_col: 1/6;
        --today_row: 1/5;
        --non-period_col: 8/11;
        --non-period_row: 1/10;
        --calendar_col: 1/8;
        --calendar_row: 6/10;
        --tomorrow_col: 6/8;
        --tomorrow_row: 1/5;
        --div_margin: 0;
        --calendar-window_w: 40vw;
        --calendar-window_h: 40vh;
    }
}
@media (max-width: 1240px) {
    :root {
        --count-cols: unset;
        --count-rows: unset;
        --today_col: unset;
        --today_row: unset;
        --non-period_col: unset;
        --non-period_row: unset;
        --calendar_col: unset;
        --calendar_row: unset;
        --tomorrow_col: unset;
        --tomorrow_row: unset;
        --div_margin: 20px;
    }
}

section {
    display: grid;
    grid-template-columns: var(--grid_cols);
    grid-template-rows: var(--grid_rows);
    column-gap: 3%;
}
section > div {
    margin-bottom: var(--div_margin);
    background-color: rgb(214, 214, 214);
    border-radius: 10px;
    overflow: hidden;
}
#today {
    grid-column: var(--today_col);
    grid-row: var(--today_row);
}
#non-period {
    grid-column: var(--non-period_col);
    grid-row: var(--non-period_row);
}
#calendar {
    grid-column: var(--calendar_col);
    grid-row: var(--calendar_row);
}
#tomorrow {
    grid-column: var(--tomorrow_col);
    grid-row: var(--tomorrow_row);
}
section > div .head {
    background-color: rgb(182, 182, 182);
    text-align: center;
    color: rgb(255, 255, 255);
}
section > div:not(#calendar) ul {
    margin-top: 1.5em;
    margin-inline: 1em;
}
section > div ul li {
    list-style: none;
    margin-block: 0.5em;
}
section > div ul li * {
    display: inline-block;
    font-family: Noto_Sans;
    font-weight: normal;
}
section > div:not(#calendar) ul p {
    width: calc(97% - 3.4em);
}
section > div:not(#calendar) ul li:not(.add) button {
    width: 1.6em;
    height: 1.6em;
    background: none;
    border: none;
}
section > div:not(#calendar) input[type="text"] {
    margin-top: 1em;
    margin-right: 1em;
    width: calc(100% - 2.8em);
    font-size: 1em;
    background-color: rgb(228, 228, 228);
    border: none;
}
section > div:not(#calendar) ul li.add button {
    width: 1.8em;
    height: 1.8em;
    background: none;
    border: none;
}
section > div:not(#calendar) ul button img {
    width: inherit;
    height: inherit;
}
section > div:not(#calendar) li input[type="checkbox"] {
    width: 1em;
    height: 1em;
    margin-right: 1em;
}
section > div:not(#calendar) li input:checked ~ p {
    color: rgb(114, 114, 114);
    text-decoration: line-through;
}

#calendar table {
    width: 100%;
    height: calc(100% - 6em);
    border-collapse: collapse;
}
#calendar table tr {
    height: inherit;
}
#calendar table td + td {
    border-left: 1px solid;
}
#calendar table td {
    text-align: center;
}
#calendar table td:hover {
    background-color: rgb(161, 161, 161);
    cursor: pointer;
}
#calendar table td * {
    height: 50%;
    width: 50%;
    text-align: center;
}
#calendar_window {
    width: var(--calendar-window_w);
    height: var(--calendar-window_h);
    position: fixed;
    left: calc((100vw - var(--calendar-window_w)) / 2);
    top: calc((100vh - var(--calendar-window_h)) / 2);
    background-color: rgb(214, 214, 214);
    border-radius: 10px;
    overflow: hidden;
}
#calendar_window .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#calendar_window .head button#close {
    width: 1.7em;
    height: 1.7em;
    margin-right: 0.7em;
    background-color: inherit;
    border: none;
    background-image: url(./src/delete.svg);
}
#calendar_window textarea {
    width: 90%;
    height: 45%;
    margin-inline: 5%;
    margin-block: 3%;
    padding-left: 1em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    box-sizing: border-box;
    resize: none;
    font-family: Noto_Sans;
    font-size: larger;
}
#calendar_window #options {
    height: 30%;
    margin-inline: 5%;
    display: flex;
    justify-content: space-between;
}
#calendar_window #options #left {
    width: 50%;
}
#calendar_window #options #top {
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
}
#calendar_window #options #top div * {
    display: inline;
}
#calendar_window #options #top div p {
    margin-right: 0.5em;
}
#calendar_window #options #date {
    display: flex;
    justify-content: space-between;
}
#calendar_window #options #right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#calendar_window #options #right #emoji_button {
    width: 4em;
    height: 4em;
    align-self:flex-end;
}